body{
    font-family: 'Quattrocento Sans', serif;
}

.navbar-brand{
    padding-left: 27px;
}
.navbar-start{
    float:  right;
    padding-top: 40px;
}
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: orange;
    text-decoration: none;
}

/* selected link */
a:active {
  color: white;
}

.section-home {
    margin-top: 8em;
}
.container2 {
    width: 90%;
    max-width: 66em;
    display: grid;
    margin: 0px auto;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr;
}
.col{
	border-bottom: 1px solid ;
	margin: 25px;
}
.container-two .content-post {
    display: grid;
    grid-template-columns: 1fr;
    -webkit-transition: all .2s;
    transition: all .2s;
    padding: 1em 0;
}

.index-content {
    display: grid;
    grid-column-gap: 2rem;
    z-index: 10;
    line-height: 1;
}
.row{
	padding-top:20px;
}
.name-artists{
	font-size:30px;
}
.name-artists a:hover span{
	display:block;
	visibility:visible;
}
.name-artists a span { 
 visibility: hidden; }
 .text-low{
	 padding-top:50px;
 }
